.html,
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.body {
    margin: 0;
    padding: 0;
}
.pointer {
    cursor: pointer;
}

.song-writer {
    max-width: 100px;
    word-wrap: break-word;
}
.song-genre {
    max-width: 150px;
    word-wrap: break-word;
}
.song-artist, .song-title {
    max-width: 150px;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#snackbar, #snackbarAdded, #snackbarUpdated {
    z-index: 999999999999;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #007E33;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
  }
  
  #snackbar.show,  #snackbarAdded.show ,  #snackbarUpdated.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }